@model ENations.Models.Message

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Message</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Likes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Likes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Chat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Chat.ChatId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sender.Username)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MessageId" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
