@model IEnumerable<ENations.Models.Chat>

@{
    ViewData["Title"] = "Index";
}

<h1>Chats</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Channel Type
            </th>
            <th>
                Channel Id
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ChannelType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChannelId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ChatId" class="btn btn-warning">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ChatId" class="btn btn-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ChatId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
